In [7]:
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error
from math import sqrt

In [2]:
df = pd.read_csv('wine.csv')

In [4]:
df.columns

Index(['Year', 'Price', 'WinterRain', 'AGST', 'HarvestRain', 'Age',
       'FrancePop'],
      dtype='object')

In [6]:
X = df[['WinterRain', 'AGST', 'HarvestRain', 'Age', 'FrancePop']]
y = df[['Price']]

In [8]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state= 123)

print(X_train.head())

    WinterRain     AGST  HarvestRain  Age  FrancePop
8          697  16.3000           52   21  48088.673
7          830  17.3333           38   22  47128.005
11         602  15.3667          267   18  49801.821
4          582  16.4167          187   25  45653.805
3          420  16.1333          110   26  45152.252

In [19]:
from sklearn.linear_model import LinearRegression
wine = LinearRegression()
wine.fit(X_train, y_train)    # fit the model

LinearRegression()

In [20]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("wine.pkl","wb")
pickle.dump(wine, pickle_out)
pickle_out.close()

In [11]:
import numpy as np

In [14]:
df.head()

   Year   Price  WinterRain     AGST  HarvestRain  Age  FrancePop
0  1952  7.4950         600  17.1167          160   31  43183.569
1  1953  8.0393         690  16.7333           80   30  43495.030
2  1955  7.6858         502  17.1500          130   28  44217.857
3  1957  6.9845         420  16.1333          110   26  45152.252
4  1958  6.7772         582  16.4167          187   25  45653.805

In [15]:
lm.predict([[600, 18, 150, 30,50000 ]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[8.86496309]])